<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="triangle" class="com.dzure.spring.model.Triangle">
        <property name="pointA" ref="pointA" />
        <property name="pointB" ref="pointB" />
        <property name="pointC" ref="pointC" />
    </bean>

    <bean id="circle" class="com.dzure.spring.model.Circle">
        <property name="center" ref="pointA" />
    </bean>

    <bean id="shape" class="com.dzure.spring.model.Circle">
        <!--if we comment this out we get null pointer exception - no other info-->
        <!--Exception in thread "main" java.lang.NullPointerException-->
        <!--if we user @Required annotation spring gives us exception where it tells us-->
        <!--what excatly is missing-->
        <!--Caused by: org.springframework.beans.factory.BeanInitializationException: Property 'center' is required for bean 'shape'-->
        <property name="center" ref="pointB" />
    </bean>

    <bean id="pointA" class="com.dzure.spring.model.Point">
        <property name="x" value="${pointA.x}" />
        <property name="y" value="${pointA.y}" />
    </bean>

    <bean id="pointB" class="com.dzure.spring.model.Point">
        <property name="x" value="-20" />
        <property name="y" value="10" />
    </bean>

    <bean id="pointC" class="com.dzure.spring.model.Point">
        <property name="x" value="0" />
        <property name="y" value="20" />
    </bean>

    <!--regired bean post processor for @Required annotation which nakes sure that all-->
    <!--requred properties or beans are set/wired in spring config - it also throws a better -->
    <!--log - exception - tells us what is missing-->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="pointsConfig.properties" />
    </bean>

</beans>