<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="triangle" class="com.dzure.spring.model.Triangle">
        <property name="pointA" ref="pointA" />
        <property name="pointB" ref="pointB" />
        <property name="pointC" ref="pointC" />
    </bean>

    <bean id="circle" class="com.dzure.spring.model.Circle">
        <property name="center" ref="pointA" />
    </bean>

    <bean id="shape" class="com.dzure.spring.model.Circle">
        <property name="center" ref="pointB" />
    </bean>

    <bean id="pointA" class="com.dzure.spring.model.Point">
        <property name="x" value="${pointA.x}" />
        <property name="y" value="${pointA.y}" />
    </bean>

    <bean id="pointB" class="com.dzure.spring.model.Point">
        <property name="x" value="-20" />
        <property name="y" value="10" />
    </bean>

    <bean id="pointC" class="com.dzure.spring.model.Point">
        <property name="x" value="0" />
        <property name="y" value="20" />
    </bean>

    <!--because it is not referenced - it is not a dependency, and because it does not have-->
    <!--any configuration we do not need to give it an ID-->
    <!--we could have multiple beans - in this case we can specify the order in which they are executed-->
    <!--bean post processors are very helpful if you want to make changes in configuration/init process-->
    <bean class="com.dzure.spring.DisplayNameBeanPostProcessor" />

    <bean class="com.dzure.spring.MyBeanFactoryPP" />

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="pointsConfig.properties" />
    </bean>

</beans>